<html>
  <head>
    <title>Something</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>

  </head>
  <body>
      <h1>HERE</h1>
    <script>
        $(document).ready(function(){

            let socket = io.connect("http://127.0.0.1:5000");

            socket.on('connect', function() {
                console.log("connected");
            });
        })
    </script>
    </body>
</html>